{% extends 'base.html' %}
{% block title %}
    Sarkari Naukari | Find opened admissions | Latest Job 2021
{% endblock title %}
{% block body %}
{% for admission in  admission_collection  %}
  
<a href="{{admission.admission_url}}" class="custom-card" style="text-decoration: none;">
<div class="card my-3 mx-3  ">
    <div class="card-body">
      <h5 class="card-title">{{admission.admission_title | safe }}</h5>
      <p class="card-text">{{admission.admission_short_description | safe }}</p>
      
    </div>
  </div>
   </a> 
{% endfor %}
    
{% endblock body %}