{% extends 'base.html' %}
{% block title %}
    Sarkari Naukari | Find Admit Card | Latest Job 2021
{% endblock title %}
{% block body %}
    
{% for admit_card in  admit_card_collection  %}
  
<a href="{{admit_card.admit_card_url}}"  target="_blank" rel="noopener noreferrer" class="custom-card" style="text-decoration: none;">
<div class="card my-3 mx-3  ">
    <div class="card-body">
      <h2 class="card-title">{{admit_card.admit_card_title | safe}}</h2>
      <p class="card-text">{{admit_card.admit_card_description | safe }}</p>
      
    </div>
  </div>
   </a> 
{% endfor %}
{% endblock body %}