{% extends 'base.html' %}
{% block title %}
    Sarkari Naukari | Find Result | Latest Job 2021
{% endblock title %}


{% block body %}
<link rel="stylesheet" href="{{url_for('static' , filename='styles.css')}}">

<div class="card" >
  <div class="card-body">
    <marquee class="txt" direction="right"><b>New job opening posted.Check it out in Job section</b>></marquee>
      <p style="color: rgb(0, 0, 0); margin-left: 30px;" class="my-3">
    {% block innerTitle %}
      <ul>
        <li>New job opening is announced in bank sector<l1>
        <li>Admission form open for engineering in private college of Delhi NCR.Check out admission section <l1>
        <li>Result od IBPS exams announced.Check it out in result section<l1>
        <li>Admit card releaded for BPSC exam<l1> 
      </ul>
    {% endblock innerTitle %}</p>
  </div>
</div>

   <!--<div class="row mx-0 ">-->
<div class="container ">
  <div class="row mx-0  mt-5">
    {% for category  in category_collection  %}
    <div class="card card-custom mx-2 mb-3 " >
        <a href="{{url_for('item' , category_name = category.category_title)}}" class="custom-card" style="text-decoration: none;">
          <img src="/static/result.png" class="card-img-top img-fluid" alt="..." style="height: 200px;">
          <div class="card-body">
            <h5 class="card-title" >{{category.category_title}}</h5>
            <p class="card-text">{{category.category_description}}</p>
          </div>
          <div class="card-footer text-right">  
            <a href="{{url_for('item' , category_name = category.category_title)}}" class="btn btn-primary card-btn">Open All</a>
          </div>
        </a>
      </div>
    {% endfor %}
</div>
</div>

{% endblock body %}