
{% extends 'base.html' %}
{% block title %}
    Sarkari Naukari | Find Result | Latest Job 2021
{% endblock title %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static' , filename='styles.css')}}">
<a href="#" class="custom-card" style="text-decoration: none;">
<div class="card my-3 mx-3  ">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      
    </div>
  </div>
   </a> 

{% endblock body %}

