{% extends 'base.html' %}
{% block title %}
    Sarkari Naukari | Latest Job 2021
{% endblock title %}
{% block body %}
    
<div class="container ">
  <div class="row mx-0  mt-3">
{% for job in  item_collection  %}
  
<div class="card my-1 mx-3  ">
<a href="{{ url_for('item_detail' ,category_name = category_name , job_id = job._id)}}" class="custom-card" style="text-decoration: none;">
    <div class="card-body">
      <h5 class="card-title">{{job.job_title | safe}}</h5>
      <p class="card-text">{{job.job_short_description | safe}}</p>
      
    </div>
  </a> 
</div>
{% endfor %}
   </div>
   </div> 
{% endblock body %}